@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-beige: #FAF4ED;
    --color-black: #141414;
    --color-brown: rgb(138, 91, 48);
    --color-dark-brown: rgb(77, 48, 21);
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 1000;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 6px;
  }
  

  /*  Universal tags */
  * {
    box-sizing: border-box;
  }

  html {
    font-family: TmoneyRoundWindRegular;  
  }

  body {
    margin: 0;
    cursor: default;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  

  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-beige);
    align-items: center;
    color: var(--color-brown);
}

.header__menu {
    display: flex;
    margin-top: 12px;
    margin-right: 25px;
    font-weight: 500;
}

.header__menu__item {
    padding: 8px 12px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.header__menu__item.active {
    border: 1px solid var(--color-brown);
}

.header__menu__item:hover {
    background-color: var(--color-white);
}

.header__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.header__logo > a {
    text-decoration: none;
    color: var(--color-brown);
}

.header__logo > img {    
    width: 35px;
    height: 35px;
    margin-bottom: 4px;
    margin-left: 15px;
}


/* Home */
#home {
    background: url('images/home-background2.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;
    color: var(--color-dark-grey);
}

#home .home__title {
    font-family: TmoneyRoundWindExtraBold;
    font-weight: lighter;
    color: var(--color-dark-brown);
}

.home__title > div {
    margin-top: 25px;
    margin-bottom: 10px;
}

.home__pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.home__download {
  margin-top: 35px;
  font-size: var(--font-regular);
}

.home__download > a {
    color: var(--color-dark-brown);    
    font-size: 1.5rem;
}

.home__download > a:hover {
    font-weight: var(--weight-bold);
    color: var(--color-dark-brown);    
}

/* About me */

#about {
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

#about h1 {
    text-align: center;
    font-family: TmoneyRoundWindExtraBold;
    font-weight: lighter;
    margin-bottom: 20px;
    
}

.about_me_ps {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin: 0 auto;
}

.info__title {
    margin-top: 20px;
    font-size: 2rem;
}

.info__detail {
    color: var(--color-grey);
    font-size: 1rem;
}