@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-beige: #FAF4ED;
    --color-black: #141414;
    --color-brown: rgb(138, 91, 48);
    --color-dark-brown: rgb(77, 48, 21);
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 1000;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 6px;
  }
  

  /*  Universal tags */
  * {
    box-sizing: border-box;
  }

  html {
    font-family: TmoneyRoundWindRegular;  
  }

  body {
    margin: 0;
    cursor: default;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  

  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  
/* Header */
#header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-beige);
    align-items: center;
    color: var(--color-brown);
}

.header__menu {
    display: flex;
    margin-top: 12px;
    margin-right: 25px;
    font-weight: 500;
}

.header__menu__item {
    padding: 8px 12px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.header__menu__item.active {
    border: 1px solid var(--color-brown);
}

.header__menu__item:hover {
    background-color: var(--color-white);
}

.header__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.header__logo > a {
    text-decoration: none;
    color: var(--color-brown);
}

.header__logo > img {    
    width: 35px;
    height: 35px;
    margin-bottom: 4px;
    margin-left: 15px;
}

/* Common */
#about h1, #skills h1, #work h1, #contact h1 {
    text-align: center;
    font-family: TmoneyRoundWindExtraBold;
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 20px;
}

/* Home */
#home {
    background: url('images/home-background2.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;
    color: var(--color-dark-grey);
}

#home .home__title {
    font-family: TmoneyRoundWindExtraBold;
    font-weight: lighter;
    color: var(--color-dark-brown);
}

.home__title > div {
    margin-top: 25px;
    margin-bottom: 10px;
}

.home__pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.home__download {
  margin-top: 35px;
  font-size: var(--font-regular);
}

.home__download > a {
    color: var(--color-dark-brown);    
    font-size: 1.5rem;
}

.home__download > a:hover {
    font-weight: var(--weight-bold);
    color: var(--color-dark-brown);    
}


/* About me */

#about {
    padding-top: 50px;
    max-width: 1200px;
    margin: auto;
}

.about_me_ps {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin: 0 auto;
}

.info__title {
    margin-bottom: 2px;
    font-size: 2rem;
    font-weight: var(--weight-bold);
}

.info__content {
    margin-bottom: 30px;
}

.info__detail, .detail__date {
    color: var(--color-grey);
    font-size: 1rem;
    margin-bottom: 70px;
}

.about__me__cf {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin: 0 auto;
}

.detail__title {
    font-weight: var(--weight-bold);
    font-size: 1.8rem;
}

.detail__name {
    font-size: 1.3rem;
    margin-top: 5px;
}

.detail__score {
    font-size: 1rem;
}


/* Skills */

#skills {
    max-width: 1200px;
    margin: auto;
}

.skills__list {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: var(--weight-bold);
}

.skills__color {    
    padding: 30px;
    background-color: var(--color-beige);
    border-radius: 50%;
}

.skills__contents1 {
    text-align: center;
    height: 400px;
    width: 400px;
}

.skills__contents2 {
    text-align: center;
    height: 280px;
    width: 400px;
    padding: auto 0;
}

.skills__contents3 {
    text-align: center;
    height: 300px;
    width: 400px;
}

.skills__contents4 {
    text-align: center;
    height: 220px;
    width: 400px;
}

.skills__title {
    padding-bottom: 20px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.logo__img {
    margin-bottom: 20px;
}


/* Work */

#work { 
    max-width: 1200px;
    margin: 0 auto;
}

#work h1 {
    margin-bottom: 0;
}

#work h2 {
    text-align: center;
    font-weight: var(--weight-semi-bold);
    margin-top: 60px;
}

#p1 .project__photo {
    margin: 30px auto;
    height: 350px;
}

#work .carousel-indicators {
    margin-bottom: 0;
}

#p1 .carousel-indicators button, #p2 .carousel-indicators button, #p4 .carousel-indicators button {
    background-color: black;
}

.work__frame {
    margin: 0 auto;
}

.work__box {
    display: flex;
    justify-content: space-evenly;
}

.work__detail {
    width: 600px;
    padding-left: 100px;
}

.work__description {
    width: 550px;
    padding-left: 100px;
}

.work__title {
    display: inline-block;
    width: 110px;
    margin-bottom: 10px;
    font-weight: var(--weight-semi-bold);
    font-size: 1.4rem;
}

.env__content {
    display: inline-block;
    font-size: 1.3rem;
}

.work__description p {
    font-size: 1.3rem;
}

.description__btn {
    margin-bottom: 10px;
    border: 1px solid var(--color-light-grey);
    border-radius: 7px;
    background-color: var(--color-white);
    color: var(--color-dark-grey);
}

#p2 .project__photo {
    margin: 30px auto;
    height: 520px;
}

#p3 .project__photo {
    margin: 30px auto;
    height: 320px;
}

#env1 .work__title {
    display: block;
}

#env2 .work__title {
    display: block;
}

.env__content__detail {
    margin-bottom: 10px;
}

#p4 .project__photo {
    margin: 30px auto;
    height: 410px;
}

#p4 {
    margin-bottom: 60px;
}